h4 {
    margin:0px;
}

.container2{
    width:100%;
	height:auto;
	padding:1%;
}

.rotulo{
    margin-left: 2%;
    float: left;
    height:200px;
    width:200px;
}

.nav-link{
    float: right;
    font-size: 2em;
}

table{
    width: 100%;
}

.adiciona{
    float: right;
}

.nav-link{
    color: white;
    font-size: 20px;
}