<body>
    
</body><div class="text-center center-div">
    <div class="container w-100 border py-4">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Meus vinhos</h2>
        </div>
        <button class="adiciona btn btn-success rounded-pill nav-link" [routerLink]="['/cadastra_vinhos']">Cadastrar</button>
        <br><br><hr/>
        <div>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Vinicola</th>
                    <th>Preço</th>
                    <th>Pais de Origem</th>
                    <th>Tipo</th>
                    <th>Tipo de uva</th>
                    <th>Harmonização</th>
                    <th>Rótulo</th>
                </tr>
                <ng-container *ngFor="let doc of docs">
                    <tr>
                        <td>{{doc.Nome}}</td>
                        <td>{{doc.Vinicola}}</td>
                        <td>{{doc.Preco}}</td>
                        <td>{{doc.PaisOrigem}}</td>
                        <td>{{doc.Tipo}}</td>
                        <td>{{doc.TipoUva}}</td>
                        <td>{{doc.Harmonizacao}}</td>
                        <td>{{doc.Rotulo}}</td>
                        <td class="no_border">
                            <form action="id_edita_produto" method="post">
                                <input type="hidden" value="{{doc._id}}" name="id">
                                <button type="submit" class="btn btn-success rounded-pill">Detalhes</button>
                            </form>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>