<div class="text-center center-div">
    <div class="container w-100 border py-4">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Resultados da Pesquisa</h2>
        </div>
        <div class="grid-container">
            <main>
                <div>
                    <ul class="vinhos">
                        <!--ngFor aqui-->
                        <li>
                            <div class="vinho">
                                <form>
                                    <div>
                                        <input type="hidden" value="{{docs._id}}" name="id">
                                        <button type="submit" class="button"><img src="vinho.png"></button>
                                    </div>
                                    <div class="vinho-name">
                                        <button type="submit" class="button">{{docs.Nome}}</button>
                                    </div>
                                </form>
                                <div class="vinho-description">
                                    {{docs.Vinicola}}
                                </div>
                                <div class="vinho-price">
                                    R$ {{docs.Preco}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</div>