table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
}

.grind-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.vinhos {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.vinhos li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 26rem;
    border-top: 0.2rem #e0e0e0 solid;
}

.vinho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.vinho img {
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}

.vinho-name {
    line-height: 2.2rem;
    font-size: 2rem;
    padding-top: 5px;
}

.vinho-description {
    font-size: 1.2rem;
    color: #808080;
}

.vinho-price {
    font-size: 2rem;
}

.vinho a {
    text-decoration: none;
    color: #000000;
}

.vinho a:hover {
    color: #f08040;
}

.vinho button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentcolor;
    }
}

.vinho img {
    max-height: 250px;
    max-width: 300px;
}

* {
    box-sizing: border-box;
}