* {
    box-sizing: border-box;
}

.text-center {
    background-color: #e0e0e0;
}

.vinho_template .imagem {
    max-width: 40%;
}

.row2 {
    padding-top: 4em;
}

.row2 a{
    text-decoration: none;
    color: black;
}

.row2 a:hover{
    color: orange;
}

.vinho_row {
    background-color: #ffffff;
}

.button{
    opacity: 1; 
    transition: 0.3s all;
}